# Archivos y carpetas de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Binarios y temporales
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb
*.cache
*.log

# Archivos de compilación
*.tmp
*.bak

# Archivos de configuración del IDE
*.vscode/
